/* Portfolio */
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery img{
    height: 250px;
    margin: 10px;
}

/*portfolio section*/
#portfolio{
    display: flex;
    flex-direction: column;
    background-color:#101820FF ;
    color:white;
}
