/* Portfolio */
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery img{
    height: 250px;
    margin: 10px;
}

/*portfolio section*/
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
