/* Portfolio */
.gallery img{
    width: 100%;
    height: 150px;
    margin: 10px;
}

/*portfolio section*/
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
