#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #101820FF;
    color: white;
}

form {
    display:block;
    margin-top: 0em;
    display: flex;
    flex-direction:column;
}

submit {
    position: absolute;
}

/* input{
    font-style: normal;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    display: flex;
    flex-direction:inherit;
    justify-content: end;
} */