#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #022c02;
    color: white;
}

form {
    display:block;
    margin-top: 0em;
    display: flex;
    flex-direction:column;
    /* width: 600px;
   align-items: center; */
}

submit {
    position: absolute;
}

/* input{
    font-style: normal;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    display: flex;
    flex-direction:inherit;
    justify-content: end;
} */

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}